{% extends 'base.html' %}

{% block title %}
<title>Password Change Done</title>
{% endblock title %}

{% block content %}
<div class="row center-align">
    <div class="col s6 offset-s3">
        <h4>Student Portal</h4>
        <div class="card">
            <h4 class="title pt-10 is-3">Password Change Done</h4>
            <p class="">Your password has been changed successfully.</p>
            <div class="pb-10">
                <a href="/">Go back to Home again ? Click Here.</a>  
            </div>
        </div>
    </div>
</div> 
{% endblock content %}