{% extends 'base.html' %}

{% block title %}
<title>Password Reset</title>
{% endblock title %}

{% block content %}
<div class="row center-align">
    <div class="col s6 offset-s3">
        <h4>Student Portal</h4>
        <div class="card">
            <form method="post" action="." role="form">
                {% csrf_token %}
                <h4 class="title pt-10 is-3">Password Reset</h4>
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    {{ form.email }}
                    <label for="id_email">Email</label>
                    <span class="helper-text" data-error="wrong"></span>
                    <div class="js-validate-email1-error error-message" style="display: none;">
                    </div>
                </div>
                <!-- Display emails error message -->
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class='error-message'>{{ error|escape }}</div>
                    {% endfor %}
                {% endif %}
                <div class="field">
                    <p class="control">
                        <button type="submit" value="submit" class="btn waves-effect waves-light">
                            Request new password
                        </button>
                    </p>
                </div>
            </form>
            <div class="pb-10"><a href="{% url 'accounts:login' %}">Login</a></div>
        </div>
    </div>
</div>                
{% endblock content %}