{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Add Question</title>
{% endblock title %}

{% block content %}
<!-- Navigation  -->
{% include 'navigation.html' %}

<!-- SideNav  -->
{% include 'sidenav.html' %}

<!-- Content  -->
<div class="container">
    <div class="section">
        <div class="row center-align">
            <div class="col s12">
                <form method="post" action="." role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 class="title pt-10 is-3">New Question</h4>
                    <div class="input-field col s12">
                        {{ form.question_text }}
                        <label for="id_question_text">Question ?</label>
                    </div>
                    <div class="input-field col s12">
                        {{ form.points }}
                        <label for="id_points">Points for this question:</label>
                    </div>
                    <div class="input-field col s9">
                        <input type="text" name="answer_text" id="id_answer_text" class="validate">
                        <label for="answer_text">Answer 1</label>
                    </div>

                    <div class="input-field col s3">
                        <select id="id_is_correct" name="is_correct">
                            <option value="" disabled selected>Choose yes or no</option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <label>Is this the correct answer ?</label>
                    </div>

                    <div class="input-field col s9">
                        <input type="text" name="answer_text" id="id_answer_text" class="validate">
                        <label for="answer_text">Answer 2</label>
                    </div>

                    <div class="input-field col s3">
                        <select id="id_is_correct" name="is_correct">
                            <option value="" disabled selected>Choose yes or no</option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <label>Is this the correct answer ?</label>
                    </div>

                    <div class="input-field col s9">
                        <input type="text" name="answer_text" id="id_answer_text" class="validate">
                        <label for="answer_text">Answer 3</label>
                    </div>

                    <div class="input-field col s3">
                        <select id="id_is_correct" name="is_correct">
                            <option value="" disabled selected>Choose yes or no</option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <label>Is this the correct answer ?</label>
                    </div>

                    <div class="input-field col s9">
                        <input type="text" name="answer_text" id="id_answer_text" class="validate">
                        <label for="answer_text">Answer 4</label>
                    </div>

                    <div class="input-field col s3">
                        <select id="id_is_correct" name="is_correct">
                            <option value="" disabled selected>Choose yes or no</option>
                            <option value="True">Yes</option>
                            <option value="False">No</option>
                        </select>
                        <label>Is this the correct answer ?</label>
                    </div>
                    <!-- Display Form Errors -->
                    <div class="row">
                        <div class="col s12">
                            <span class="error-message">{{ form.errors }}</span>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" value="create" class="btn waves-effect waves-light" id="submit-btn">
                                Create
                            </button>
                        </p>
                    </div>
                    <div class="col s12">
                        <a class="btn" href="">Finish</a>      
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Footer  -->
{% include 'footer.html' %}

{% endblock content %}

{% block javascript %}
{% endblock javascript %}