{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
<title>{% trans 'Categories' %}</title>
{% endblock title %}

{% block content %}
<!-- Navigation  -->
{% include 'navigation.html' %}

<!-- SideNav  -->
{% include 'sidenav.html' %}

<!-- Content  -->
<div class="container">
    <div class="section">
        <!-- Banner  -->
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <br><br>
                <h2 class="header orange-text center">{% trans 'Learning' %}</h2>
                <h5 class="header col s12 light center">{% trans 'Earn your certificate, learn a new skill or get a degree here.' %}</h5>
            </div>
            <!-- <div class="row center">
                <br>
                <a class="btn-large orange" href="#">Browse</a>
            </div> -->
        </div>
        
        <!-- Categories  -->
        <div class="section">
            <h4>{% trans 'Categories' %}</h4>
            <div class="divider"></div>
        </div>
        <div class="row">
            {% for category in categories %}
            <div class="col s12 m4">
                <a href="{{ category.get_absolute_url }}">
                    <div class="card-panel teal center-align white-text">
                        <i class="material-icons large">{{ category.icon }}</i>
                        <h5><b>{{ category.title }}</b></h5>
                    </div>
                </a>
            </div>
            {% empty %}
            <h5 class="yellow-text center">{% trans 'There are no Categories.' %}</h5>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}