{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
<title>{{ course.title|title}}</title>
{% endblock title %}

{% block content %}
<!-- Navigation  -->
{% include 'navigation.html' %}

<!-- SideNav  -->
{% include 'sidenav.html' %}

<!-- Content  -->
<div class="container">
    <div class="section">
        <!-- Course Grades  -->
        <div class="section">
            <h4>{{ course.title|title }}</h4>
            <div class="divider"></div>
        </div>

        <div class="row">
            <!-- Course Sidenav  -->
            {% include 'classroom/course_sidenav.html' with nav_course_submissions='active' %}
            <!-- Grades -->
            <div class="col s9">
                <div class="section">
                    <h4><b>{{ grade.submission.student.full_name }}</b></h4>
                    <div class="col s12 center-align">
                        <div class="card-panel">
                            <h4 class="card-title">{{ grade.submission.comment }}</h4>
                            <a href="{{ grade.submission.file.url }}" download>
                                <i class="material-icons">download</i>{{ grade.submission.get_filename }} -
                                {% trans 'Download' %}</a>
                        </div>
                    </div>

                    <div class="col s12">
                        <form method="post" action="." role="form"
                            class="col s12">
                            {% csrf_token %}
                            <h4>{% trans 'Assignment maximum points: ' %}<b>{{ grade.submission.assignment.points }}</b></h4>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">plus_one</i>
                                <input id="icon_prefix" type="text" name="points" class="validate">
                                <label for="icon_prefix">{% trans 'Points' %}</label>
                            </div>

                            <div class="col s12">
                                <button type="submit" value="login" class="btn waves-effect waves-light" id="submit-btn">
                                    {% trans 'Submit' %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}